body
{
	background-image: url(../img/background.jpg); 
}

#inner
{
	border: 2px;
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	padding: 5% 5% 5% 5%;
}

#outter {
	border: solid #330033 3px;
	border-radius: 9px;
	background-color: white;
	padding: 5% 5% 5% 5%;

}

.section
{
	position: relative;
}

.section .section-center
{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;

}

#page {
	font-family: 'Montserrat', sans-serif;
	background-size: cover;
	background-position: center;	
}

#page::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(47, 103, 177, 0.6);
}

#form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

#form .form-group {
	position: relative;
	margin-bottom: 30px;
}

#form .form-label {
	display: inline-block;
	color: #3e485c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-left: 7px;
}
